/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #EEEEEE;
    --secondary-color: #787A91;
    --tertiary-color: #141E61;
    --quaternary-color: #0F044C;
  }